h2{
  text-align: center;
  font-size: 30pt;
}

.startText{
  border: solid 1px black;
  margin:auto;
  text-align: center;
  font-size: 18pt;
  width: 50vw;
  height: auto;
}

.button{
  text-align: center;
}

button{
  cursor: pointer;
  width: 15vw;
  height: 10vh;
  font-size: 22pt;
  font-weight: bold;
  margin-top: 20px;
}

.graph{
  /* border: solid 5px green; */
  align-items: center;
  width: 250px;
  margin: auto;
}

#result{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  font-size: 22pt;

}

#results{
  /* border: solid 1px black; */
  justify-content: center;
  margin-left: 60px;
  margin-right: 50px;
}

#quizBox{
  border: solid 1px black;
  text-align: center;
}